@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');

body {
    font-family: 'David Libre', serif;
}

.word {
    display: inline-block;
}

.number {
    font-size: 50px;
}

#timer {
    font-size: 35px;
    font-weight: bold;
}

.caret {
    display: inline-block;
    background-color: #ff0000;
    width: 2px;
    height: 35px;
    animation: caretAnimation 1s linear infinite;
}

@keyframes caretAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

#type {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(121, 140, 165, 0.5);
}

.score{
    font-size: 30px;
    font-weight: bold;
    width: 350px;
    background-color: rgb(187, 196, 205, 0.8);
    display: inline-block;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgb(72, 67, 67);
}


.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.gray {
    color: #ededed;
}

#loading{
    margin: 30px auto;
    background-color: rgba(226, 226, 226, 0.6);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 2px lightgray;
    width: 300px;
}

#app{
    width: fit-content;
    margin: 10px auto;
}

#wait{
    width: 300px;
    margin: 0 auto;
}

.player{
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0px 0px 1px 1px black;
    font-size: large;
    background-color: lightcyan;
    padding: 10px;
}

#counter{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
}

.scorecard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

