body {
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}

h1 {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    margin: 20px auto;
    box-shadow: 0px 0px 2px 2px lightgray;
    background-color: #b0b8b9;
}

#choose-lobby {
    border-radius: 10px;
    width: min(70vw, 500px);
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    border: 2px solid gray;
    box-shadow: 0 0 1px 2px rgb(130, 130, 130);
}

.container {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 20px;
    width: min(95vw, 1500px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 100px auto;
}

#statsContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    border: 2px solid black;
    color: #ededed;
}

#single{
    position: absolute;
    bottom: 2%;
    left: 50%;
}